

@media (max-width: 767px){
    .nav {
    background-color:#6d6678;
}
}

.navbar-default {
    background-color: #3d354cbf;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #b2adb9;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
 {
    color: #dcd5d5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f7f3f3;
}
.dropdown-menu {background-color: #3d354c}

.dropdown-menu > li > a {
    color: #ddd5d5;
}
.about span{color: #b2adb9}
.testimonials .carousel-indicators .active {
    border: 3px solid #3d354b;
}
.subscribe .btn-lg,
.contact-us button{
    background-color: #3d354b;
}

.ult-footer span{color: #141219}

.theme{
	background-color: #6d6678a3;
}
.theme .colors .icon{
    color: #c3c3c3;
    background-color: #6d6678a3;
}
.overlay{
	background-color: rgba(14, 12, 16, 0.84);
}



