
@media (max-width: 767px){
    .nav {
    background-color:#677967;
}
}

.navbar-default {
    background-color: #354c35bf;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #b0b9ad
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
 {
    color: #dcd5d5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f7f3f3;
}
.dropdown-menu {background-color: #647566}

.dropdown-menu > li > a {
    color: #ddd5d5;
}
.about span{color: #aeb9ad}
.testimonials .carousel-indicators .active {
    border: 3px solid #354b45;
}
.subscribe .btn-lg,
.contact-us button{
    background-color: #354b38;
}

.ult-footer span{color: #121912}

.theme{
	background-color: #3a4c357d;
}

.theme .colors .icon{
    color: #c3c3c3;
    background-color: #130e0ebf;
}
.overlay{
    background-color: rgba(13, 16, 12, 0.84);
}



