/* Start Page About */

.about-page h1{
	font-family: 'Titan One', cursive;
    font-size: 4em;
    letter-spacing: -2px;
    margin-top: 50px
}
.about-page p {
    color: #afafaf;
    margin-bottom: 20px;
 }
.about-page .info-group{
	overflow: hidden;
	margin-top: 50px
}
.about-page .info-group .info{
	float: left;
	width: 30%;
	margin-right: 3.333%
}

.about-page .info-group .info h3{
	letter-spacing: -2px
}
.about-page .last-section{
	margin-top: 40px
}
.about-page .last-section p{
	width: 80%
}

/* End Page About */



/* Start FAQ */
.faq h1{
    font-size: 3em;
    letter-spacing: -1px;
    margin-top: 40px;
    margin-bottom: 30px
}
.faq p {
    color: #afafaf;
    margin-bottom: 20px;
 }
 .faq .questions{
 	margin-bottom: 40px
 }
/* End FAQ */






